[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
pygeohash = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
h3 = "*"
folium = "*"

[dev-packages]
jupyterlab = "*"